/* NAVIGATIONS SECTION */
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#ul{
    list-style: none;
    text-align: end;
    margin: 0;
    padding-right: 5px;
}

.btnLogOut{
    border: 1px solid gray;
}


/* HERO SECTION */
.hero{
    background-color: rgb(73, 63, 6);
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    overflow: hidden;
}

.container{
    width: 60vw;
    height: fit-content;
    padding: 50px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 180px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    transition-duration: 1.15s;
}

.container:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

#textCon{
    width: 40vw;
    height: fit-content;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-self: center;
}


/* DASHBOARD SECTION */
.dashboard_Con{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard{
    max-width: 1200px;
    height: fit-content;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;

    padding: 40px;


    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.cards{
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
}

.cards:hover{
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.342);
}

.wrapper{
    justify-content: center;
}

.income{
    color: rgba(151, 151, 151, 0.575);
}